{% extends "Templates/default.twig" %}

{% block content %}

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h1>
						Letňáky v&nbsp;Brně
					</p>

				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<table class="movies">
					{% for movie in movies %}
						{% set color = movie.getPosterImageColor.brightness(70, true).saturation(100, true).toHex %}
						<tr class="movie">

							{% set csfdUrl = movie.getCsfdUrl %}
							{% set rating = movie.getRating %}

							<td class="datetime">
								<p>
									{% if movie.dateTime.isToday %}
										<strong>dnes</strong>
									{% elseif movie.dateTime.isTomorrow %}
										<strong>zítra</strong>
									{% else %}
										{{ movie.dateTime.format('j. n.') }}
									{% endif %}
								</p>
								<p>
									{{ movie.dateTime|localTime }}
								</p>
							</td>
							<td class="title">
								<h2 style="color: #{{ color }};">
									{{ movie.title }}
								</h2>
							</td>
							<td class="venue">
								<a target="_blank" href="{{ movie.venueUrl }}" style="color: #{{ color }}; border-bottom: 1px dotted #{{ color }};">{{ movie.venue }}</a>
							</td>
							<td class="entry">
								{{ movie.entry }}&nbsp;Kč
							</td>
							<td class="year">
								{{ movie.getYear }}
							</td>
							<td class="runtime">
								{{ movie.getRuntime }}
							</td>
							<td class="rating">
								{% if rating %}
									{% if csfdUrl %}
										<a target="_blank" href="{{ csfdUrl }}" style="color: #{{ color }}; border-bottom: 1px dotted #{{ color }};">{{ rating|localPercent }}</a>
									{% else %}
										{{ rating|localPercent }}
									{% endif %}
								{% endif %}
							</td>

						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

{% endblock content %}
