{% extends "Templates/default.twig" %}

{% block content %}

	{% if title %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">

					<h2>
						{{ title }}
					</h2>

				</div>
			</div>
		</div>
	{% endif %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">

				<table class="movies">
					{% for key, movie in movies %}
						{% if date != movie.dateTime.getDbDateFormat %}
							<tr>
								<th class="date" colspan="8">
									<p>
										{% if movie.dateTime.isToday %}
											<strong>dnes</strong>
										{% elseif movie.dateTime.isTomorrow %}
											<strong>zítra</strong>
										{% else %}
											{{ _config.weekdays[movie.dateTime.format('N')] }}
											{{ movie.dateTime.format('j. n.') }}
										{% endif %}
									</p>
								</th>
							</tr>
						{% endif %}
						{% set date = movie.dateTime.getDbDateFormat %}
						{% set color = movie.getPosterImageColor.brightness(70, true).saturation(100, true).toHex %}
						{% set isTodayOrTomorrow = movie.dateTime.isToday or movie.dateTime.isTomorrow %}
						{% if isTodayOrTomorrow and not bannerUsed %}
							{% set isBanner = true %}
							{% set bannerUsed = true %}
						{% else %}
							{% set isBanner = false %}
						{% endif %}
						<tr class="movie {% if isBanner %}banner{% endif %}"{% if isBanner %} style="background: #{{ color }}; color: white;"{% endif %} data-key="{{ key }}">

							<style type="text/css">
								.movie[data-key="{{ key }}"] a {
									color: #{{ color }};
									border: none;
								}
								.movie[data-key="{{ key }}"] a:hover {
									border-bottom: 1px solid #{{ color }};
								}
							</style>

							{% set url = movie.getUrl %}
							{% set csfdUrl = movie.getCsfdUrl %}
							{% set rating = movie.getRating %}

							<td class="time">
								<p>
									{{ movie.dateTime|localTime }}
								</p>
							</td>
							<td class="title">
								<h3>
									{% if url %}
										<a target="_blank" href="{{ url }}">{{ movie.title }}</a>
									{% else %}
										{{ movie.title }}
									{% endif %}
								</h3>
							</td>
							<td class="rating hidden-xs">
								{% if rating %}
									{% if csfdUrl %}
										<a target="_blank" href="{{ csfdUrl }}">{{ rating|localPercent }}</a>
									{% else %}
										{{ rating|localPercent }}
									{% endif %}
								{% endif %}
							</td>
							<td class="venue">
								<a target="_blank" href="{{ movie.venueUrl }}"><span class="hidden-xs">{{ movie.venue }}</span><span class="hidden-lg hidden-md hidden-sm">{{ _config.venues[movie.venue].short }}</span></a>
							</td>
							<td class="entry hidden-xs">
								{% if movie.entry %}
									{{ movie.entry }}&nbsp;Kč
								{% endif %}
							</td>
							<td class="year hidden-sm hidden-xs">
								{{ movie.getYear }}
							</td>
							<td class="runtime hidden-sm hidden-xs">
								{{ movie.getRuntime }}
							</td>
							<td class="calendar hidden-sm hidden-xs">
								<a href="{{ getUrlFor('addToCalendar', { movieHash: movie.hash }) }}"><i class="fa fa-calendar"></i></a>
							</td>

						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

{% endblock content %}
