{% extends "Templates/default.twig" %}

{% block content %}

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h1>
						Letňáky v&nbsp;Brně
					</p>

				</div>
			</div>
		</div>
	</header>

	<div class="movies">
		{% for i, movie in movies %}

			{% set color = movie.getPosterImageColor.brightness(70, true).saturation(100, true) %}
			{% set backgroundColor = movie.getPosterImageColor.brightness(10, true).saturation(100, true) %}

			<div class="movie" style="border-bottom: 1rem solid #{{ color.toHex }}; color: #{{ color.toHex }}; background-color: #FFF;">

				<div class="container">
					<div class="row header">
						<div class="col-xs-12">

							<ul class="details">
								<li>
									<a target="_blank" href="{{ movie.venueUrl }}" style="color: #{{ color.toHex }}; border-bottom: 1px dotted #{{ color.toHex }};">{{ movie.venue }}</a>
								</li>
								<li class="date">
									{% if movie.dateTime.isToday %}
										dnes {{ movie.dateTime|localTime }}
									{% elseif movie.dateTime.isTomorrow %}
										zítra {{ movie.dateTime|localTime }}
									{% else %}
										{{ movie.dateTime|localDateTime }}
									{% endif %}
								</li>
								<li>
									{{ movie.entry }}&nbsp;Kč
								</li>
							</ul>

							<h2 class="title">
								{{ movie.title }}
							</h2>

							{% set year = movie.getYear %}
							{% set runtime = movie.getRuntime %}
							{% set rating = movie.getRating %}

							{% if year or runtime or rating %}
								<ul class="details">
									{% if year %}
										<li>
											{{ year }}
										</li>
									{% endif %}
									{% if runtime %}
										<li>
											{{ runtime }}
										</li>
									{% endif %}
									{% if rating %}
										<li>
											{% set csfdUrl = movie.getCsfdUrl %}
											{% if csfdUrl %}
												<a target="_blank" href="{{ csfdUrl }}" style="color: #{{ color.toHex }}; border-bottom: 1px dotted #{{ color.toHex }};">{{ rating|localPercent }}</a>
											{% else %}
												{{ rating|localPercent }}
											{% endif %}
										</li>
									{% endif %}
								</ul>
							{% endif %}

						</div>
					</div>

					{% set plot = movie.getPlot %}
					{% if plot %}
						<div class="row plot">
							<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">

								<p>
									{{ plot }}
								</p>

							</div>
						</div>
					{% endif %}
				</div>

			</div>

		{% endfor %}
	</div>

{% endblock content %}
