{% extends "Templates/default.twig" %}

{% block content %}

	<div class="movies">
		{% for i, movie in movies %}

			{% set csfdInfo = movie.getCsfdInfo %}

			{% if i is divisible by(2) %}
				{% set color = movie.getPosterImageColors[1].brightness(10, true).saturation(10, true) %}
				{% set backgroundColor = movie.getPosterImageColors[0].brightness(20, true).saturation(80, true) %}
			{% else %}
				{% set color = movie.getPosterImageColors[1].brightness(90, true).saturation(10, true) %}
				{% set backgroundColor = movie.getPosterImageColors[0].brightness(80, true).saturation(80, true) %}
			{% endif %}

			<div class="movie" style="color: #{{ color.toHex }}; background-color: #{{ backgroundColor.toHex }};">

				<div class="container">
					<div class="row">
						<div class="col-lg-offset-2 col-lg-2 col-md-offset-1 col-md-2 col-sm-2 col-xs-2">

							{% if csfdInfo %}
								<p>
									<img class="img-responsive" src="{{ csfdInfo.poster_url }}" />
								</p>
							{% endif %}

						</div>
						<div class="col-lg-6 col-md-7 col-sm-10 col-xs-10">

							<h2 class="title">
								{{ movie.title }}
							</h2>
							<p>
								{{ movie.getRating|localPercent }}
							</p>
							<p>
								<a target="_blank" href="{{ movie.venueUrl }}">{{ movie.venue }}</a>
							</p>
							<p>
								{{ movie.dateTime|localDateTime }}
							</p>
							<p>
								{{ movie.entry }}
							</p>

						</div>
					</div>
				</div>

			</div>

		{% endfor %}
	</div>

{% endblock content %}
