{% extends "Templates/default.twig" %}

{% block content %}

	<ul class="movies">
		{% for movie in movies %}

			<li style="background-color: rgb({{ movie.getBackgroundImageColor|join(', ') }});" class="{% if movie.getBackgroundImageColor|average < 192 %}dark{% else %}light{% endif %}">

				{% set csfdInfo = movie.getCsfdInfo %}

				{% if csfdInfo %}
					<p>
						<img src="{{ csfdInfo.poster_url }}" />
					</p>
				{% endif %}

				<h2 class="title">
					{{ movie.title }}
				</h2>
				<p>
					{{ csfdInfo.rating|localPercent }}
				</p>
				<p>
					<a target="_blank" href="{{ movie.venueUrl }}">{{ movie.venue }}</a>
				</p>
				<p>
					{{ movie.dateTime|localDateTime }}
				</p>
				<p>
					{{ movie.entry }}
				</p>
			</li>

		{% endfor %}
	</ul>

{% endblock content %}
