{% extends "Templates/default.twig" %}

{% block content %}

	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<h1>
						Letňáky v&nbsp;Brně
					</p>

				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">

				<table class="movies">
					{% for movie in movies %}
						{% if date != movie.dateTime.getDbDateFormat %}
							<tr>
								<th class="date" colspan="7">
									<p>
										{% if movie.dateTime.isToday %}
											<strong>dnes</strong>
										{% elseif movie.dateTime.isTomorrow %}
											<strong>zítra</strong>
										{% else %}
											{{ _config.weekdays[movie.dateTime.format('N')] }}
											{{ movie.dateTime.format('j. n.') }}
										{% endif %}
									</p>
								</th>
							</tr>
						{% endif %}
						{% set date = movie.dateTime.getDbDateFormat %}
						{% set color = movie.getPosterImageColor.brightness(70, true).saturation(100, true).toHex %}
						{% set isBanner = movie.dateTime.isToday or movie.dateTime.isTomorrow %}
						<tr class="movie {% if isBanner %}banner{% endif %}"{% if isBanner %} style="background: #{{ color }}; color: white;"{% endif %}>

							{% set csfdUrl = movie.getCsfdUrl %}
							{% set rating = movie.getRating %}

							<td class="time">
								<p>
									{{ movie.dateTime|localTime }}
								</p>
							</td>
							<td class="title">
								<h2 style="color: #{{ color }};">
									{% if csfdUrl %}
										<a target="_blank" href="{{ csfdUrl }}" style="color: #{{ color }}; border: none;">{{ movie.title }}</a>
									{% else %}
										{{ movie.title }}
									{% endif %}
								</h2>
								{% if isBanner %}
									<p class="plot hidden-xs">
										{{ movie.getPlot }}
									</p>
								{% endif %}
							</td>
							<td class="rating hidden-xs">
								{% if rating %}
									{% if csfdUrl %}
										<a target="_blank" href="{{ csfdUrl }}" style="color: #{{ color }}; border-bottom: 1px dotted #{{ color }};">{{ rating|localPercent }}</a>
									{% else %}
										{{ rating|localPercent }}
									{% endif %}
								{% endif %}
							</td>
							<td class="venue">
								<a target="_blank" href="{{ movie.venueUrl }}" style="color: #{{ color }}; border-bottom: 1px dotted #{{ color }};"><span class="hidden-xs">{{ movie.venue }}</span><span class="hidden-lg hidden-md hidden-sm">{{ _config.venues[movie.venue].short }}</span></a>
							</td>
							<td class="entry hidden-xs">
								{{ movie.entry }}&nbsp;Kč
							</td>
							<td class="year hidden-sm hidden-xs">
								{{ movie.getYear }}
							</td>
							<td class="runtime hidden-sm hidden-xs">
								{{ movie.getRuntime }}
							</td>

						</tr>
					{% endfor %}
				</table>

			</div>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-3 col-lg-6">

					<p>
						Letňáky vám jako obvykle přináší <a href="http://jabli.cz/">Jabloň</a>. Data čerpám z&nbsp;webů kin a <a href="http://csfdapi.cz/">ČSFD</a>.
					</p>

				</div>
			</div>
		</div>
	</div>

{% endblock content %}
