<span class="date">
	{% if date.isToday %}
		<strong>dnes</strong>
	{% elseif date.isTomorrow %}
		<strong>zítra</strong>
	{% else %}
		<span{% if playlist %} class="hidden-xs"{% endif %}>
			{{ _config.weekdays[date.format('N')] }}
		</span>
		{{ date.format('j. n.') }}
	{% endif %}
</span>

{% if weather and not playlist and (date.isToday or date.isTomorrow) %}
	<span class="weather">
		{{ weather.getWeather }}
		&middot; {{ weather.getTemperature }}&nbsp;°C
		{% set rain = weather.rain['3h']|round %}
		{% if rain %}
			&middot; <i class="fa fa-tint"></i> {{ rain }}&nbsp;mm
		{% else %}
			&middot; bez deště
		{% endif %}
	</span>
{% endif %}
