<!DOCTYPE html>
<html lang="cs">
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{ _page.title }}</title>

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{{ _site.baseUrl }}components/bootstrap/dist/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="{{ _site.baseUrl }}components/fontawesome/css/font-awesome.min.css" />

		<link type="text/css" rel="stylesheet" href="{{ _site.baseUrl }}resources/css/screen.css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script type="text/javascript">
			var _config = [];
			{% if _config.facebook %}
				_config["facebook"] = [];
			{% endif %}
			{% if _config.facebook.appId %}
				_config['facebook']['appId'] = '{{ _config.facebook.appId }}';
			{% endif %}
			{% if _config.facebook.locale %}
				_config['facebook']['locale'] = '{{ _config.facebook.locale }}';
			{% endif %}
			{% if _config.google %}
				_config['google'] = [];
			{% endif %}
			{% if _config.google.analytics %}
				_config['google']['analytics'] = [];
			{% endif %}
			{% if _config.google.analytics.id %}
				_config['google']['analytics']['id'] = '{{ _config.google.analytics.id }}';
			{% endif %}
		</script>

		{% if _config.google.analytics.id %}
			<script src="{{ _site.baseUrl }}resources/javascript/google/analytics.js"></script>
		{% endif %}

		<!-- Open Graph Protocol Meta -->
		<meta property="og:site_name" value="Letňáky v Brně"/>
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Letňáky v Brně" />
		<meta property="og:description" content="Program všech brněnských letních kin na jednom místě." />
		<meta property="og:url" content="{{ getUrlFor('homepage') }}" />
		<meta property="og:image" content="{{ _site.baseUrl }}resources/images/og.png" />
		<meta property="og:locale" content="cs_CZ" />
		<!-- END Open Graph Protocol Meta -->

	</head>
	<body class="{{ theme }}">

		{% block content %}
		{% endblock content %}

		<script src="{{ _site.baseUrl }}components/bootstrap/dist/js/bootstrap.min.js"></script>

		{% if _config.facebook.appId %}
			<div id="fb-root"></div>
			<script src="{{ _site.baseUrl }}resources/javascript/facebook/sdk.js"></script>
		{% endif %}

		<script src="//use.typekit.net/nrf6dnx.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	</body>
</html>
